.usu{
height: 68.2px;
}
.box{
margin-bottom: 0px;
height: 67px;
border-bottom: 0px;
background: #fefefe;
width: 75%;
border: 1px solid #c9c8c8;
    font-size: 150%;
text-align: center;
letter-spacing: 2px;

}
.icon{
position: relative;
bottom: 67px;
left: 75%;
width: 20%;
height: 99%;
background: #1c2f35;
}
#calend{
    background: #ffffff;
border: 1px solid #c9c8c8;
position: relative;
bottom: 65px;
height: 96%;
    border-left: 0px solid;
}


.large-4{
    
}
.header {
   height: 8%;
background: #1c2f35;
border-left: 1px solid #17262c;
padding-left: 2%;
color: #ffffff;
font-size: 268%;
letter-spacing: 3px;
    font-family: 'noto sans', sans-serif;
    margin-bottom: 2%;
padding-top: 5px;
}
#graphtxt{
    width: 50%;
position: relative;
bottom: 313px;
left: 50%;
height: 313px;
border-right: 1px solid #c9c8c8;
border-top: 1px solid #c9c8c8;
border-bottom: 1px solid #c9c8c8;
}
#graphpast{
        width: 50%;
    height: 313px;
    border-top: 1px solid #c9c8c8;
    border-bottom: 1px solid #c9c8c8;
    border-left: 1px solid #c9c8c8;
}
#grapha{
    width: 50%;
height: 313px;
}
#graphtx{
    width: 50%;
position: relative;
bottom: 313px;
left: 50%;
height: 313px;
}
#graphAnu{
    width: 33%;
height: 330px;


}
#graphPre{
    width: 33%;
position: relative;
bottom: 330px;
left: 33%;
height: 330px;


}
#graphExp{
    width: 34%;
position: relative;
bottom: 660px;
left: 66%;
height: 330px;

}
.graphI{
        width: 98%;
    height: 100%;
    border: 1px solid #c9c8c8;
}
.graphII{
        width: 98%;
    height: 100%;
    border: 1px solid #c9c8c8;
}
.graphIII{
        width: 98%;
    height: 100%;
    border: 1px solid #c9c8c8;
}

